@{
    ViewBag.Title = "Core Cycles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homepage" class="">    
    <div class="content-mid">
        @await Component.InvokeAsync("Content")
    </div>

</div>