<div method="post" asp-action="header" asp-controller="home">
    <div id="hd">
        <div id="doc2" class="yui-t3 wrapper">
            <table>
                <tr>
                    <td>
                        <h2 class="banner">
                            <a href="@Url.Action("Default","Home")" id="LnkHome">
                                <img src="/Images/logo.png" style="width:125px;height:125px" alt="ComponentOne" />

                            </a>
                        </h2>
                    </td>
                    <td class="hd-header"><h2 class="banner">Unicorn Bike Rentals</h2></td>
                </tr>
            </table>
        </div>

    </div>
</div>