<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Core Cycles Store</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="favicon/manifest.json" />
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#503b75" />
    <link href="@Url.Content("~/css/StyleSheet.css")" rel="stylesheet" />
</head>
<body class='@ViewBag.BodyClass' id="body1">
    @await Component.InvokeAsync("Header")

    <div id="doc2" class="yui-t3 wrapper">
        <div id="bd">
            <div id="yui-main">
                <div class="content">
                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
